.bannerContainer {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this value to control the height of the banner */
    overflow: hidden;
  }
  
  .bannerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust this for overlay opacity */
    z-index: 1;
  }
  

.bannerContainer {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this value to control the height of the banner */
    overflow: hidden;
  }
  
  .bannerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust this for overlay opacity */
    z-index: 1;
  }
  