/* Diagram sections */
.overview-container {
    display: flex;
    flex-direction: column;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

/* Section 1 Styling */
.diagram_section-1 {
    background-color: #0037ff;
}

.dHeading {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffff;
    margin-top: 20px;
}

.diagramImage {
    justify-content: center;
    padding-bottom: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

/* Hover section */
.hover-area {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Circular element */
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #3498db;
  opacity: .25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -19.7rem;
  margin-top: -16rem;
  cursor: pointer;
  z-index: 2;
  width: 240px;
  height: 230px;
}

/* The overlay that covers the rest of the screen */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1;
}

/* Text that will appear on the overlay */
.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
  max-width: 600px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Show the overlay and text only when the circle is hovered */
.circle:hover + .overlay {
  opacity: 1;
  visibility: visible;
}

.circle:hover + .overlay .overlay-text {
  opacity: 1;
}

/* Responsive design adjustments */
@media (max-width: 600px) {
  .overlay-text {
    font-size: 1.2rem;
  }

}
